.header {
  width: 100%;
  height: 100vh;
  background: rgb(35, 103, 255);
  background: linear-gradient(
    90deg,
    rgba(35, 103, 255, 1) 0%,
    rgba(115, 93, 215, 1) 43%,
    rgba(75, 244, 236, 1) 100%
  );
}

.header .ban-herro img {
  width: 400px;
  height: 350px;
  top: 0;
  margin-top: 7rem;

  // box-shadow: 5px 25px 40px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-20px);
}

.row .txt {
  text-align: center;
  margin-top: 10rem;
  p {
    font-size: 1.7rem;
    background-image: linear-gradient(
      to right,
      rgb(59, 149, 104),
      rgb(10, 218, 255),
      rgb(0, 104, 90)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
  }
  a {
    margin-top: 2rem;
    text-decoration: none;
    padding: 7px 26px 7px 28px;
    display: inline-block;
    margin-left: 1rem;
    transition: all 0.5s 0.2s;
    text-transform: uppercase;
    border-radius: 55px;
    margin-top: 2rem;
    background-image: linear-gradient(90deg, #34d7d7 0%, #13a6e0 100%);
    color: rgb(255, 255, 255);
    transition: ease 1s all;
    -webkit-transition: all 0.5s 0.2s;
    -moz-transition: all 0.5s 0.2s;
    -ms-transition: all 0.5s 0.2s;
    -o-transition: all 0.5s 0.2s;
    span {
      color: #7cecb8 !important;
    }
  }
  a:hover {
    box-shadow: 0 5px 29px -6px #34b6d7;
  }
}

.part-1 img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
