* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  // font-family: "El Messiri", sans-serif;
  font-family: 'Jost', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
  max-width:140rem;
  font-size: 62%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
